/*------------------
       IMPORT
-------------------*/
@import url(utilities.css);


/*------------------
       IMPORT
-------------------*/





/*------------------
        CORE
-------------------*/




body{
    height: 100vh;
}


header{
    height: 70px;
    background-color: aqua;
}


.ms-page-container{
    height: calc(100vh - 70px);
    display: flex;
    background-color: lightgrey;
}

aside{
    padding: 20px;
    background-color: blueviolet;
    flex-shrink: 0;
}

main{
    background-color: bisque;
    flex-grow: 1;
    overflow-y: auto;
}



/*------------------
        CORE
-------------------*/


/*------------------
        HEADER
-------------------*/

.ms-card-img-header{
    display: flex;
    width: 100%;
    height: 100%;
}


.ms-mobile-logo{
    height: 70px;
    width: 70px;
}   

.ms-lg-logo{
    height: 70px ;
    width: 200px;
}

.ms-nav-barr-header{
    border-radius: 10px;
}

.navbar-brand {
    color:#838383;
}