/*------------------
        CORE
-------------------*/


body{
    height: 100vh;
}


header{
    height: 70px;
    background-color: aqua;
}


.ms-page-container{
    height: calc(100vh - 70px);
    display: flex;
    background-color: lightgrey;
}

aside{
    padding: 20px;
    background-color: blueviolet;
    flex-shrink: 0;
}

main{
    background-color: bisque;
    flex-grow: 1;
    overflow-y: auto;
}

/*------------------
        CORE
-------------------*/

