/*------------------
       IMPORT
-------------------*/
@import url(utilities.css);


/*------------------
       IMPORT
-------------------*/



/*------------------
        CORE
-------------------*/

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


header{
    height: 70px;
    background-color: aqua;
}


.ms-page-container{
    height: calc(100vh - 70px);
    display: flex;
    background-color: lightgrey;
}

aside{
    padding: 20px;
    background-color: blueviolet;
    flex-shrink: 0;
}

main{
    background-color: #f8f9fa;
    flex-grow: 1;
    overflow-y: auto;
}

/*------------------
        CORE
-------------------*/




/*------------------
        HEADER
-------------------*/

.ms-card-img-header{
    display: flex;
    width: 100%;
    height: 100%;
}


.ms-mobile-logo{
    height: 70px;
    width: 70px;
}   

.ms-lg-logo{
    height: 70px ;
    width: 200px;
}

.ms-nav-barr-header{
    border-radius: 10px;
}

.navbar-brand {
    color:#838383;
}

.ms-sidenav-header{
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.ms-sidenav-header nav > ul{
    list-style: none;
    display: flex;
}

.ms-sidenav-header ul li{
    padding: 0 10px;
}

.ms-sidenav-header ul li a{
    color: #5a5858 ;
    font-size: 20px;

}

.ms-dropdown-header i{
    color:#ff8f00 ;
}

/*------------------
        HEADER
-------------------*/




/*------------------
       ASIDE
-------------------*/

.ms-aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    
}

.nav-aside{
    display: flex;
}

.nav-aside ul{
    list-style: none;
    padding: 0;
}

.nav-aside ul li{
    display: flex;
    
    padding: 10px 0; 
}

.nav-aside ul li a{ 

    font-size: 20px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

.nav-aside ul li a i{
    width: 20px;
}

/*------------------
       ASIDE
-------------------*/



/*------------------
       MAIN
-------------------*/

/* SECTION BADGE */

.ms-up-badge h2{
    padding-right: 5px;
}

#ms-specialbadge{
    border-radius: 50%;
    font-size: 16px;
}

.bg-secondary {
    --bs-bg-opacity: 0.4;
}

.ms-badge{
    color: white;
}

.ms-badge-bg{
    background-color: rgba(rgba(0, 0, 0, 0.2));
    
}

/* SECTION BADGE */



/* SECTION CLASSI FREQUENTI */

th img{
    width: 20px;
    height: 20px;
}

.ms-cell-name{
    width: 300px;
}

.table{
    font-size: 12px;
}

.ms-btn-table{
    font-size: 7px;
    padding: 5px;
    color: white;
}

.ms-btn-icon{
    border-radius: 20%;
    background-color: white;
    border:1px solid grey;
    padding: 6px 6px;
}

.ms-btn-icon i{
    color: #5a5858;
    font-size: 14px;
}

.ms-btn-card-ofcanvas{
    background-color: white;
    border: 1px solid lightblue;
    color:lightblue ;
}

/* SECTION CLASSI FREQUENTI */

/*------------------
       MAIN
-------------------*/



