.ms-bg-primay-color{
   background-color: #f8f9fa; 
}

.ms-bg-secondary-color{
    background-color: #e5e5e5;
}

.ms-bg-tertiary-color{
    background-color: #1c71e8;
}

.ms-bg-fourth-color{
    background-color:#ffffff ;
}

.ms-bg-fifth-color{
    background-color: #0a2138;
}